@font-face {
    src: url('../../Fonts/BAUHS93.TTF');
    src: url('../../Fonts/BRITANIC.TTF');
    src: url('../../Fonts/AGENCYB.TTF');
    src: url('../../Fonts/BERNHC.TTF');
    src: url('../../Fonts/SNAP____.TTF');
}

#titleText{
    -fx-font-family: 'Snap ITC';
    -fx-font-size: 45;
}

 
.tileText{
    -fx-font-family: 'Bauhaus 93';
    -fx-font-size: 20;
}

.infoText{
    -fx-font-family: 'Agency FB';
    -fx-font-size: 17;
}


.nameText{
    -fx-font-family: 'Bernard MT Condensed';
    -fx-font-size: 17;
}

#editBtn{
    -fx-font-family: 'Bernard MT Condensed';
    -fx-font-size: 17;
}

.greenBtn{
    -fx-background-color: #008710;
    -fx-font-family: 'Britannic Bold';
    -fx-font-size: 17;
}

.blueBtn{
    -fx-font-family: 'Bauhaus 93';
    -fx-font-size: 15;
    -fx-background-color:  #34ebe1;
}

.redBtn{
    -fx-font-family: 'Bauhaus 93';
    -fx-font-size: 15;
    -fx-background-color:   #ff0048;
}

.britanicPromt{
    -fx-font-family: 'Britannic Bold';
    -fx-font-size: 16;
}